.blue-bg {
  background-color: blue;
}
.yellow-bg {
  background-color: yellow;
}
.green-bg {
  background-color: green;
}
.red-bg {
  background-color: red;
}
.border-black {
  border: 1px solid black;
}
